.main-container{
  background-color: #7fafffff;
  height: fit-content;
  width: 100%;
  font-size:large;
  border: 2px solid black;
  padding-bottom: .5em;
  overflow-x: scroll;
  overflow-y: scroll;
}

.title span{
  border: 2px ridge black;
  margin-bottom: 1em;
  border-radius: 4em;
  padding: .2em;
  background-color: black;
  color: white;
  cursor: pointer;
}

.title span:hover{
  background-color: rgb(31, 206, 54);
  color: black;
  
}

.title{
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}



.title p{
  color: gold;
}

.title h2{
  color: blue;
}

 .title h1{
  border: 2px dashed black;
  border-radius:2em;
  padding: .5em;
  background-color:powderblue;
  width: 100%;
  cursor: pointer;
  text-align: center;
  /* margin: 1em; */
}

.title h1:hover{
  background-color: greenyellow;
}

.title h2{
  margin-top: .5em;
}

.game-body{
  background-color: white;
  width: 600px;
  height: 480px;
  margin: auto;
  margin-top: 1%;
  position: relative;

 
}

#circle{
  position:absolute;
  background-color:cyan;
  border-radius: 50%;
  padding: 20px;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0;
}
.title h3{
  color:blue;
  margin-top: .5em;
}

.gaming-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-section{
  padding: 1%;
}

.user-input{
  align-items: center;
  text-align: center;
  background-color:blanchedalmond;
  margin-bottom: 2%;
  padding: 2%;
  padding-top: 1%;

}
.user-input p{
  margin-bottom: 2%;
  color:brown;
}