.main-container{
  background-color:#da70d6;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  padding: 5%;
  padding-top: 1%;
}

.title{
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3em;
  padding: 1%;
  font-weight: bold;
  color: #adff2f;
  font-style: italic;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #8e2be2;
}

.game-body{
  height: 100%;
  width: 100%;
  background-color:#ffb6c1;
  margin-top: 3%;
  padding: 3%;
}

.question{
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: lighter;
  
}

.choices img{
  width: 50%;
  height: 100%;
  border-color: #8e2be2;
  border: 2px solid black;
  
}

.choices  img:hover{
  cursor: pointer;
}

.choices{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 10%;
}

.choices{
  /* display: none; */
}

#start{
  border: 2px solid #000000;
  /* border-radius: 45%; */
  padding: 1%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  background-color: #adff2f;
  font-size: 2em;
  /* align-items: center; */
}

.start-button{
  display: flex;
  justify-content: center;
  align-items: center;

}

#start:hover{
  cursor: pointer;
}
