.main-container{
    margin: auto;
    width: 100vw;
    background-color: aqua;
    padding: 1%;
}

.heading h1{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5%;
}

form{
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 2%;
    min-height: 100vh;
    height: fit-content;
    background-color:antiquewhite;
    min-width: 50%;
    width: fit-content;
}



fieldset{
    width: 90%;
    margin: auto;
    
}
.defaultInput{
    /* margin-top: 1%; */
    display: flex;
    flex-direction: column;
    width: 32%;
    
}
.optionalInput{
    clear:both;
    display: flex;
    align-items: center;
    
}

img{
    width: 20%;
    height: 50%;
    clear: both;
}

form div{
    margin: 1%;
}

.addCar{
    font-size: 1em;
    background-color: green;
    width: fit-content;
    padding: 2%;
    text-align:center;
    align-items: center;
    
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
    
}

.submit-button{
    background-color: black;
    columns: white;
    width: fit-content;
    border: 2px solid black;
    /* border-radius: 50%; */
    margin-top: 5%;
}

.msg
{
    visibility: hidden;
    font-size: 1.5em;
    margin-bottom: 5%;
    color: green;
}

 th , td{
    border: 1px solid black;
    padding: 2%;
    padding-right: 5%;
    margin-right: 6em;
    /* visibility: hidden; */
}

.formDetails{
    border: 1px solid black;
    width: fit-content;
    /* visibility: hidden; */
}